<!DOCTYPE html>
<html>
<head>
  <title>Pantry Stack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="logged-in clearfix">
  <div class="logo">
    Pantry Stack
  </div>
  <ul class="clearfix">
  <% if !current_user.guest %>
    <li>
      <%= button_to "Log Out", sessions_url, method: "delete" %>
    </li>
    <li>
      <%= link_to "Change Password", edit_user_url(current_user) %>
    </li>
  <% else %>
    <li>
      <%= link_to "Sign up to save your pantry", edit_user_url(current_user) %>
    </li>
    <li>
      <%= link_to "Log in", new_session_url %>
    </li>
  </ul>
</nav>
<% end %>
<%= yield %>

</body>
</html>
